@import '../../assets/colors.module';

.container {
  width: 100vw;
  height: 11vh;
  background: $playerBg;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  align-items: center;

  .info {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;

    * {
      margin: 0 5px;
    }

    .like {
      cursor: pointer;
      stroke-dasharray: 0;
      @keyframes draw {
        from {
          stroke-dasharray: 10;
        }
        to {
          stroke: $playerProgressBar;
          stroke-dasharray: 50;
        }
      }

      &.active {
        animation: draw 3s forwards;
      }
    }

    .imageWrapper {
      width: 80px;
      height: 80px;
      padding: 5px;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }


    .music_info {

      span {
        font-size: 0.75rem;
      }

      .title {
        color: white;
      }

      .artist {
        color: $description;
      }

      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  .playback {
    grid-column-start: 6;
    grid-column-end: 16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .controllers {
      margin-bottom: 10px;
      align-items: center;

      .playerButton {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }

      display: flex;

      path {
        fill: $description;
      }

      .back {
        transform: scaleX(-1);
      }

      .back, .skip {
        width: 35px;
        height: 35px;
      }
    }

    .timeline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 450px;

      span {
        width: 10%;
        color: $description;
        font-size: 0.9rem;
      }

      .timelineSlider {
        appearance: none;
        width: 80%;
        height: 5px;
        background: $playerProgressBar;
        border-radius: 15px;
        cursor: pointer;
        overflow: hidden;
        margin: 0 5px;

        &::-webkit-slider-thumb {
          appearance: none;
          box-shadow: -400px 0 0 400px $playerCurrentTime;
          height: 20px;
          width: 0;
        }
      }
    }

  }

  .sound {
    grid-column-start: 18;
    grid-column-end: 20;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    svg {
      width: 40px;
      height: 40px;
    }

    path {
      fill: $description;
    }

    .timelineSlider {
      appearance: none;
      width: 100%;
      height: 5px;
      background: $playerProgressBar;
      border-radius: 15px;
      cursor: pointer;
      overflow: hidden;

      &::-webkit-slider-thumb {
        appearance: none;
        box-shadow: -400px 0 0 400px $playerCurrentTime;
        width: 0.1px;
      }
    }
  }
}