@import '../../assets/colors.module';

.container {
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;

  .login {

    h2, button, input, img {
      margin-bottom: 15px;
    }

    .createAccount {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      color: $description;
      font-size: 0.8rem;
      align-items: center;
    }

    box-shadow: 1px 1px 5px 1px $description;
    border: solid black 3px;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 60vh;

    input {
      border-radius: 15px;
      border: solid black 2px;
      padding: 8px;
      width: 100%;
    }

    button {
      background: red;
      border-radius: 15px;
      border: none;
      padding: 8px;
      width: 100%;
    }
  }
}