@import '../../../assets/colors.module';

.container {
  position: relative;
  .song {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    position: relative;
    .image {
      grid-column-start: 1;
      grid-column-end: 2;
      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
    }

    .songInfo {
      margin-left: 10px;
      grid-column-start: 2;
      grid-column-end: 5;
      position: absolute;
      display: flex;
      flex-direction: column;

      .title {
        color: black;
      }

      .author {
        color: $description;
      }
    }

    .duration {
      color: $description;
      grid-column-start: 9;
      grid-column-end: 10;
    }
  }

  .settingsBtn {
    grid-column-start: 11;
    grid-column-end: 12;
  }

  .settingsPopup {
    position: absolute;
    right: 0;
    top: 65%;
    z-index: 10;
  }

}