@import '../../assets/colors.module';

.container {
  background: $playerProgressBar;
  padding: 15px;
  position: fixed;
  left: 50vw;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 5px 5px 2px;

  .message {
    color: $description;
    font-size: 0.9rem;
    margin-left: 5px;
  }

}