@import '../../../assets/colors.module';

.wrapper {
  padding: 5px 3px;
  width: 200px;
  height: 270px;
  border: 1px solid $description;
  border-radius: 8px;
  position: relative;

  .settingsPopup {
    position: absolute;
    right: 0;
    top: 90%;
  }

  .settings {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 3px;
    bottom: 35px;
    cursor: pointer;
  }

  img {
    width: 180px;
    height: 180px;
    object-fit: fill;
    margin: 0 auto;
    display: block;
    border-radius: 6px;
  }

  .albumInfo {
    display: flex;
    flex-direction: column;
    padding: 8px;


    .author {
      color: $barColor;
    }

    .title {
      color: $description;
    }

    .description {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 90%;
    }
  }

}