$description: rgb(142, 142, 142);
$barColor: #222223;
$songsPageBg: linear-gradient(to top, black 70%, rgb(52, 20, 20) 90%, rgb(69, 24, 24) 100%);
$songsListBg: rgb(15, 15, 15);
$userPageBg: linear-gradient(to top, rgb(34, 34,34 ) 0%, rgb(133, 131, 131) 80%, rgb(173, 173, 173) 100%);
$playerBg: #262626;
$playerProgressBar: #303030;
$playerCurrentTime: #bd0015;

:export {
  description: $description;
  userPageBg: $userPageBg;
  playerBg: $playerBg;
  barColor: $barColor;
  playerProgressBar: $playerProgressBar;
  playerCurrentTime: $playerCurrentTime;
}