@import "../../assets/colors.module";

.container {
  width: 100%;
  height: 100%;
  background: $songsListBg;

  &.plate {
    display: flex;
    flex-wrap: wrap;
  }

  .song {
    margin: 15px;
  }
}