@import '../../assets/colors.module';
.container {
  padding: 1px;
  height: 100%;
  .searchBar {
    width: 40rem;
    margin: 0 10px;
  }
  .loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}