@import '../../assets/colors.module';
.container {
  padding: 1px;
  height: 100%;
  .searchBar {
    width: 100%;
    margin: 10px;
  }
  .songList {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}