@import "../../assets/colors.module";

.container {
  padding: 16px 8px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;

  &:hover {

    * {
      color: white;
      fill: white;
      transition-duration: 200ms;
    }
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  input {
    border: none;
    background: none;
    text-decoration: none;
    color: $description;
    cursor: pointer;

    &.active {
      color: white;
    }
  }
}