@import '../../assets/colors.module';

.container {
  height: 40px;
  width: 100%;

  .song {
    display: grid;
    grid-template-columns: 1fr 13fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    align-items: center;
    height: 100%;

    * {
      font-size: 0.8rem;
    }

    img {
      width: 25px;
      height: 25px;
    }

    .songNote {
      align-self: center;
      fill: $description;
    }

    .songInfo {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .title {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        align-self: end;
        color: white;
        font-weight: lighter;
      }

      .artist {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        color: $description;
      }
    }

    .duration {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 4;
      grid-column-end: 5;
      color: white;
    }

    &.active {
      .songInfo {
        .title {
          color: $playerCurrentTime;
        }
      }

      .duration {
        color: $playerCurrentTime;
      }

      .songNote {
        svg {
          fill: $playerCurrentTime;
        }
      }
    }

  }

}