@import '../../../assets/colors.module';

.button {
  border: none;
  padding: 10px;
  background: $description;
  cursor: pointer;
  background: $description;
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
}