@import '../../../assets/colors.module';
.container {
  background: $description;
  cursor: pointer;
  text-align: center;
  width: 100%;
  text-overflow:ellipsis;
  button {
    border: none;
    padding: 10px;
    background: $description;
    cursor: pointer;
  }
}