@import '../../assets/colors.module';
.container {
  padding: 10px 15px;
  color: $description;
  text-align: center;
  border-radius: 15px;
  margin: 0px 5px;
  &:hover {
    color: black;
    background: white;
    border-radius: 15px;
    transition-duration: 400ms;
  }
}